* {
    margin: 0;
    padding: 0;
}
    
    
    
    
hr {
    position: relative;
    top: 20px;
    border: none;
    height: 5px;
    background: #B0B5B3;
    margin-bottom: 30px;
    width: 90%;
}
    
    
    
    
.grid{
    display: grid;
    grid-template-columns: 15fr 80fr;
    grid-template-rows: 100px 1fr;
}
    
    
header{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 35px;
    grid-column-start: 1;
    grid-column: span 3;
    background-color: rgb(65, 134, 201);
    color: white;
    font-size: 24pt;
    font-weight: bold;
}
    

    
form{
    padding-top: 10px;
}
    
    
.sidebar {
    border-right: 3px solid #B0B5B3;
    background-color: white;
    padding-left: 10px;
    position: sticky;
}
    
    
.photo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: #DBDBDB;
    padding: auto;
    overflow: auto;
}
    
    
#status_key{
    position: relative;
}
    
    
    
    
.filter select{
    width: 90%;
}

.filter input{
    width: 90%;
}

#status_key{
    position: relative;
}
.stat-circle-bar{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 2px;
    display: inline-block;
}
    
    
.stat-circle{
    position: absolute;
    top: 190px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 10px white;
    border-radius: 50%;
}
    
    
.card{
    position: relative;
    background-color: white;
    margin-bottom: 10%;
    max-width: 250px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s;
}

    
    
.card:hover{
    transform: scale(1.2);
    z-index: 1;
}
    
    
    
    
    
    
.card-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
    
    
.card p{
    font-size: 90%;
    padding-left: 10px;
}
    
    
.card h2{
    padding-left: 10px;
}
    
    
.tl{
    position: absolute;
    top: 8px;
    left: 10px;
    color: wheat;
}

.bl{
    position: absolute;
    top: 180px;
    color: wheat;
    font-size: 80%;
}