:root {
    --spacing: 8px;
    --rounded-corner: 12px;
    --drop-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --theme-primary: rgb(65, 134, 201);
    --theme-secondary: #eec217;
}

header {
    background: var(--theme-primary);
    text-align: center;
    padding: 8px;
    color: white;
    font-size: 18pt;
    font-weight: bold;
    border-bottom: 10px solid var(--theme-secondary);
}